*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 100%;
    width: 100%;
    background-color: black;
}
h1{
    color: white;

}
#innerbox{
    height: 100px;
    width: 200px;
    background-color: red;
    position: sticky;
    top: 0;
}
#box2{
    background-color: rgb(50, 48, 48);
    height: 100%;
}