*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 200px);
    grid-template-rows: repeat(2 , 200px);
    grid-gap: 10px;
    padding: 10px;
   


}
.card{
    background-color: crimson;
    
}
.card:nth-child(2){
    background-color: lightblue;
}
.card:nth-child(3){
    background-color: lightgreen;
}
.card:nth-last-child(1){
    background-color: lightsalmon;
}
