*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 0.8fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "left-top center-top right-top"
                         "left-top center-bottom right-bottom"
                         "left-bottom left-bottom right-bottom"   
    ;
    grid-gap: 30px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;

}
img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
section{
    border-radius: 10px;
    min-width: 0%;
    min-height: 0%;
    overflow: hidden;
    
}
.left-top{
    grid-area: left-top;
    background-color: crimson;
     
    
    
}
.left-bottom{
    grid-area: left-bottom;
    background-color: lightblue;
  
    
}
.center-top{
    grid-area: center-top;
    background-color: lightgreen;
}
.center-bottom{
    grid-area: center-bottom;
    background-color: lightseagreen;
}
.right-top{
    grid-area: right-top;
    background-color: lightsalmon;
}
.right-bottom{
    grid-area: right-bottom;
    background-color: lightpink;
}
