*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 0.5fr 1fr;
    grid-template-areas: "header"
    "center"   
    "footer"
    ;
    
    background-color: whitesmoke;

}
.header{
    background-color: white;

}
.center{
    background-color: whitesmoke;
}
.footer{
    background-color: whitesmoke;
    
}

.header nav{
     display: flex;
     justify-content: space-evenly;
     padding-top: 20px;
     
}
ul li {
    padding-top: 20px;

}
ul li {
    list-style: none;
    color: black;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav h1{
    font-size: 50px;
}

nav button{
    padding: 10px;
    width: 120px;
    border-radius: 30px;
    background-color: white;
    color: rgb(83, 83, 255);
    font-size: 15px;
    border: 2px solid rgb(83, 83, 255);
}

.center{
    display: flex;
    padding: 3%;
    align-items: center;
}
.center .left{
    width: 30%;
    padding-bottom: 60px;
}
.center .right{
    width: 70%;
    
}
.center .right{
    padding-top: 20px;
}
.center .right button{
    padding: 10px;
    border-radius: 20px;
    color: rgb(83, 83, 255);
    border: 2px solid rgb(83, 83, 255);
    margin-top: 20px;
    margin-left: 10px;
    
}
.center .right p{
    padding-inline: 20px;
    font-size: 20px;
    padding-top: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 5%;
}
.footer img{
     width: 800px;
}


