*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;

}
div{
    font-size: 40px;
    align-content: center;
    text-align: center;
}
.box1{
    background-color: crimson;
}
.box2{
    background-color: darkblue;
}
.box3{
    background-color: darkgreen;
}
.box4{
    background-color: darkorange;
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; */

    grid-column: 1/2;
    grid-row: 1/2;
}
.box5{
    background-color: darkorchid;
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; */
    grid-column: 1/2;
    grid-row: 2/2;
}
.box6{
    background-color: darkseagreen;
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */

    grid-column: 3/4;
    grid-row: 1/2;
}