*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
body{
    background-color: whitesmoke;

}
#heading{
    color: whitesmoke;
    background-color: rgb(62, 59, 59);
    text-align: center;
    padding: 20px;
}
#heading > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;


}
#heading > p {
    font-style: italic;
    font-size: 15px;
}
#about{
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px 40px 20px 40px; 
}
#about > h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about > p {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#education{
    background-color: rgb(183, 227, 241);
    text-align: center;
    margin: 20px 40px 20px 40px;
    color: black;
    padding: 20px;
}
#education > p{
    background-color: white;
    margin: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

#skills{
    text-align: center;
    background-color: rgb(255, 223, 184);
    margin: 20px 40px 20px 40px;
    padding: 20px;
}
#skills > p{
    background-color: white;
    margin: 5px;
     margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

#projects{
    text-align: center;
    background-color: rgb(221, 167, 241);
    margin: 20px 40px 20px 40px;
    padding: 20px;
}

#projects > p{
    background-color: white;
    margin: 5px;
     margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}


#contact{
    text-align: center;
    background-color: rgb(206, 246, 206);
    margin: 20px 40px 20px 40px;
    padding: 20px;
}

#contact > p{
    background-color: white;
    margin: 5px;
     margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

#footer{
    background-color: rgb(62, 59, 59);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 8px;
    font-weight: 100;
}