*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'gill sans';
}

main{
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container{
    height: 450px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    
}
#story{
    height: 120px;
    width: 100%;
    /* background-color: red; */
    padding: 20px;
    border-bottom: 1px solid black;
}
.storiyan{
    height: 80px;
    width: 80px;
    /* background-color: red; */
    border-radius: 50%;
    border: 2px solid rgb(30, 219, 30);
    
}
.storiyan img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}