*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'gill sans';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#card{
    height: 400px;
    width: 300px;
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
}

#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h3{
    font-size: 30px;
    margin: 20px;
    font-weight: 600;
}

#card h4{
    font-size: 25px;
    margin-bottom: 15px;
    color: red;
}

#friend button{
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
#friend #remove{
    margin-left: 10px;
    background-color:rgb(185, 185, 185);
}

#friend #add{
    background-color: cadetblue;
}

#friend button:active{
    scale: 0.95;
}