*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    height: 200px;
    width: 150px;
    background-color: rgb(129, 219, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.card img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.card p{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}
.card h1{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease;
    transition-duration: 2s;
}