*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
/* #box1{
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
} */

#box1{
    height: 200px;
    width: 200px;
    background-color: yellow;
    /* transform: translateX(50%);
    transform: translateY(50%); */
    /* transform: translate(50% , 50%); */

}