*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: yellow;
    
}

.box2{
    height: 100px;
    width: 100px;
    background-color: red;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: blue;
}.box4{
    height: 100px;
    width: 100px;
    background-color: pink;
}.box5{
    height: 100px;
    width: 100px;
    background-color: green;
}.box6{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
}.box7{
    height: 100px;
    width: 100px;
    background-color :beige;
}.box8{
    height: 100px;
    width: 100px;
    background-color:aqua ;
}.box9{
    height: 100px;
    width: 100px;
    background-color:blueviolet;
}
.box10{
    height: 100px;
    width: 100px;
    background-color:brown;
}



#border-box{
    height: 100%;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    /* box-shadow: 5px 5px 20px white;
    border-radius: 20px;    */
}


#box:hover{
    background-color: yellow;
}