*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
    gap: 200px;
    
}
#box1{
    height: 200px;
    width: 200px;
    background-color: royalblue;
    
}

#box2{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: rgb(174, 68, 68);
}

